@model List<ProjectSensive.EntityLayer.Concrete.Article>

<section>
    <div class="container">
        <div class="owl-carousel owl-theme blog-slider">
            @foreach (var item in Model)
            {
                <div class="card blog__slide text-center">
                    <div class="blog__slide__img">
                        <img class="card-img rounded-0" src="/sensive-master/img/blog/blog-slider/blog-slide1.png" alt="">
                    </div>
                    <div class="blog__slide__content">
                        <a class="blog__slide__label" href="#">@item.Category?.CategoryName</a>
                        <h3><a href="#">@item.Title</a></h3>
                        <p>@item.CreatedDate.ToShortTimeString()</p>
                    </div>
                </div>
            }
        </div>
    </div>
          <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
        <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</section>
</section>