@model List<ProjectSensive.EntityLayer.Concrete.Article>

@{
    ViewData["Title"] = "MyArticles";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-md-6">
            <h2 class="text-dark">My Articles</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" href="/Article/AddArticle">
                <i class="fa fa-plus"></i> Add New Article
            </a>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Created Date</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Category?.CategoryName</td>
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td class="text-center">
                                <a href="/Article/EditArticle/@item.ArticleID" class="btn btn-warning btn-sm mr-1">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <a href="/Article/DeleteArticle/@item.ArticleID"
                                   class="btn btn-danger btn-sm"
                                   onclick="return confirm('Are you sure you want to delete this article?');">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                                <a href="/Article/DetailArticle/@item.ArticleID" class="btn btn-info btn-sm ml-1">
                                    <i class="fa fa-eye"></i> View
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

