<section class="mb-30px">
    <div class="container">
        <div class="hero-banner">
            <div class="hero-banner__content">
                <h3>Project Sensive</h3>
                <h1>Discover Insightful Articles & Trends</h1>
                <h4>@DateTime.Now.ToString("MMMM dd, yyyy")</h4>
            </div>
        </div>
    </div>
</section>
